@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*font-family: 'Russo One', sans-serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
*{
    margin: 0rem;
    padding: 0rem;
    text-align: none;
    list-style-type: none;
    user-select: none;
    box-sizing: border-box;
    text-decoration: none;
    transition-duration: 0.4s;
    color: white;
}
/*Scrollbar*/
::-webkit-scrollbar{
    width: 0.3rem;
}
::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background-color: #828282;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ffffff
}
body{
    background-color: black;
}
.amaz{
    color: rgb(255, 171, 16);
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),url(pics/projectsBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*nav*/
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    margin: 2rem;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
}
nav ul li:hover{
    transform: scale(1.2);
}
nav ul li a:hover{
    color: yellowgreen;
}
h4{
    color: white;
    font-size: 3rem;
    text-align: center; font-family: 'Russo One', sans-serif;
    padding-top: 12rem; opacity: 0.7;
    letter-spacing: 0.5rem;
}
#current{
    text-decoration: underline;
}
/*cyberProjTitle*/
.cyberProj{
    font-size: 2.4rem;
    font-family: 'Russo One', sans-serif;
    margin: 1.2rem 2rem;
}
.cyberProj:hover{
    color: yellowgreen;
    cursor: none;
}
/*divs*/
body div h1{
    color: white;
    font-family: 'Russo One', sans-serif;
    padding: 1rem 2rem;
    animation-name: print;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
body div p{
    color: White;
    padding: 0rem 3.5rem;
    font-size: 1.4rem;
    font-family: 'Roboto Condensed', sans-serif;
}
div{
    height: 45rem;
    width: 100%;
    position: relative;
    bottom: 0rem;
    margin-bottom: 5rem;
}
.two{
    height: 60rem;
    width: 100%;
    position: relative;
    bottom: 0rem;
    background-color: rgba(0,0,0,0.9);
    
}
ul{
    display: flex;
    flex: 1;
    justify-content: center;
}
ul li img{
    padding: 1rem;
    height: 23rem;
    width: 100%;
}
.three{
    height: 45rem;
    width: 100%;
    position: relative;
    bottom: 0rem;
    background-color: rgba(0,0,0,0.9);
    margin-top: 15rem;
}
.four{
    height: 60rem;
    width: 100%;
    position: relative;
    bottom: 0rem;
    background-color: rgba(0,0,0,0.9);
    margin-top: 15rem;
}
#azureCenter{
    height: 20rem;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-0%);
    z-index: 0;
}
.seekerAzure li{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.seekerAzure li:hover{
    color: yellowgreen;
    transform: scale(1.1);
}
.five{
    height: 80rem;
    width: 100%;
    position: relative;
    bottom: 0rem;
    background-color: rgba(0,0,0,0.9);
    margin-top: 15rem;
}
@keyframes print{
    0%{color: white;}
    50%{color: yellowgreen;}
    100%{color: white;}
}
@media screen and (min-width: 1500px){
    .five{
        height: 100rem;
    }
    .five ul li img{
        padding: 1rem;
        height: 29rem;
        width: 100%;
    }   
}
footer{
    position: relative;
    bottom: 0rem;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 10rem;
    height: 9rem;
    width: 100%;
}
footer p{
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    font-family: 'Russo One', sans-serif;
}
footer .quoterSpan{
    margin-top: -3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
}
