@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*  {
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    transition-duration: 0.4s;
    color: white;
}
/*Scrollbar*/
::-webkit-scrollbar{
    width: 0.3rem;
}
::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background-color: #828282;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ffffff
}
body{
    background-color: black;
}
.amaz{
    color: rgb(255, 171, 16);
}
/*topCover*/
header div{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url(pics/cybersecurityBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}
div nav h1{
    margin: 1.5rem 0rem 0rem 3rem;
    opacity: 1;
    font-family: 'Russo One', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    content: "Cybersecurity";
    animation-name: tiTran;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}
div h2{
    margin-top: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    padding: 2rem 0rem 0rem 4rem;
    height: auto;
    font-size: 3.1rem;
    width: 27rem;
    text-align: start;
    opacity: 0.4;
    position: absolute; left: 0rem;
}
/*nav*/
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul h1:hover{
    color: yellowgreen;
    cursor: none;
}
ul li{
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2rem 5rem;
}
ul li:hover{
    transform: scale(1.2);
}
ul li a:hover{
    color: yellowgreen;
}
#currentIndex{
    text-decoration: underline;
}
/*media screen*/
@media screen and (min-height: 720px){
    ul li{
        font-size: 1.3rem;
    }
}
@media screen and (min-height: 850px){
    ul li{
        font-size: 1.5rem;
    }
}
@media screen and (min-height: 1030px){
    header div{
        height: 110%;
        width: 110%;
    }
    ul li{
        font-size: 1.6rem;
    }
}